<footer>
  <div class="footer-funding">
    <h2 class="footer-title">Funding</h2>
    <ul class="footer-funder-list">
    {% for item in site.data.funding %}
      <li class="footer-funder-item">
        <a href="{{ item.url }}">
          <img class="footer-funders-img" src="{{ site.baseurl }}/assets/img/funding/logos/{{ item.logo }}" width="120px">
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>

<div class="footer-links-wrapper">
  <h2 class="footer-title">Site Links</h2>
    <ul class="footer-links-list">
      {% for item in site.data.menu %}
      <a class="footer-link" href="{{ site.baseurl }}{{ item.link }}" >
        <li>
          {{ item.name }}
          </li>
        </a>
      {% endfor %}
    </ul>
</div>

  <div class="footer-add">
    <ul class="footer-add-list">
      <li class="footer-add-item">
        <p> {{ site.postal_add.street }}</p>
        </li><li class="footer-add-item">
        <p> {{ site.postal_add.university }}</p>
        </li><li class="footer-add-item">
        <p> {{ site.postal_add.city }}</p>
        </li><li class="footer-add-item">
        <p> {{ site.postal_add.region }}</p>
        </li><li class="footer-add-item">
        <p> {{ site.postal_add.country }}</p>
        </li><li class="footer-add-item">
        <p> {{ site.postal_add.postcode }}</p>
        </li><li class="footer-add-item">
        <p>{{ site.phone }}</p>
        </li>

    </ul>
  </div>

  <!-- footer base -->
  <div class="footer-base">
    <p class="footer-slogan">
      Theme <a href="https://www.madeslowly.co.uk/">slow science</a> by <a href="https://www.madeslowly.co.uk/">made slowly</a>
    </p>
    <p class="footer-copyright"> &copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
  </div>

</footer>
