<!-- research offered -->
<section class="global-container research-wraper">
  <!-- wrapping with a div for readers -->
  <div class="research-panel" data-aos="fade-in">
    <h1 class="center-header research-header">
    Research</h1>
    <p class="research-blurb display-desktop-only">{{ site.research.intro }}</p>

    <p class="research-blurb">{{ site.research.detail }}</p>
  </div>
</section>

<section class="">
  <div class="research-panel">
    {% for item in site.data.research %}
    {% assign n = forloop.index | minus: 1 | times: 200 %}
    <div
    class="research-topic"
    data-aos="fade-in"
    data-aos-delay="{{ n }}">
    <h2 class="research-title">{{ item.name }}</h2>
    <div
      class="research-topic-img"
      style="background-image: url('{{ site.baseurl }}/assets/img/research/{{ item.bg-img }}.jpg');">
    </div>
    </div>
    {% endfor %}
  </div>

</section>
