<!-- research offered -->
<section class="global-container research-wraper">
  <!-- wrapping with a div for readers -->
  <div class="research-panel" data-aos="fade-in">
    <h1 class="center-header research-header">
    Research</h1>
    <p class="research-blurb display-desktop-only">The interest of the potential application of microbots in biomedicine have been increased in the last years, as an innovative method for delivering drugs, removing blood clots or to perform precise surgery, among others. There are several works related to their propulsion mechanisms, fabrication method, and also related to their communication with the exterior when traveling along the human body. However, no studies related to their microhydrodynamics have been performed, specially taking into account the viscoelastic nature of some human biofluids.</p>

    <p class="research-blurb">The objective is to analyze and understand the complex flow dynamics around 3D microbot's prototypes, along characteristic geometries of the human circulatory system, to find the optimum morphology to maximize their movement efficiency while minimizing their impact on the patient body, relating theoretically the drag force, velocity field and pressure drop with the rheological parameters of the fluid and the morphology of the microdevice.</p>
  </div>
</section>

<section class="">
  <div class="research-panel">
    {% for item in site.data.research %}
    {% assign n = forloop.index | minus: 1 | times: 200 %}
    <div
    class="research-topic"
    data-aos="fade-in"
    data-aos-delay="{{ n }}">
    <h2 class="research-title">{{ item.name }}</h2>
    <div
      class="research-topic-img"
      style="background-image: url('{{ site.baseurl }}/assets/img/research/{{ item.bg-img }}.jpg');">
    </div>
    </div>
    {% endfor %}
  </div>

</section>
